<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        window.showToast = (message, type) => {
            Swal.fire({
                toast: true,
                position: 'top-end',
                icon: type,
                title: message,
                showConfirmButton: false,
                timer: 2500
            });
        };

        window.showConfirmLogout = () =>
            Swal.fire({
                title: 'Logout?',
                icon: 'warning',
                showCancelButton: true
            }).then(r => r.isConfirmed);

        window.showConfirmRelease = () =>
            Swal.fire({
                title: 'Release chair?',
                icon: 'warning',
                showCancelButton: true
            }).then(r => r.isConfirmed);
    </script>
</body>
</html>
